In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns


pd.set_option('precision', 2)                    # Setting prices to exclude decimal points

pd.set_option('display.max_columns', 500)        # Setting DataFrame columns to show all of them

pd.options.mode.chained_assignment = None        # default='warning signs', when adding new columns to data frames

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
dtitles = pd.DataFrame.from_csv('data/test.csv', index_col=None)
dtitles.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,GasA,TA,Y,SBrkr,896,0,0,896,0.0,0.0,1,0,2,1,TA,5,Typ,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,CBlock,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,GasA,TA,Y,SBrkr,1329,0,0,1329,0.0,0.0,1,1,3,1,Gd,6,Typ,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,GasA,Gd,Y,SBrkr,928,701,0,1629,0.0,0.0,2,1,3,1,TA,6,Typ,1,TA,Attchd,1997.0,Fin,2.0,482.0,TA,TA,Y,212,34,0,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,6,1998,1998,Gable,CompShg,VinylSd,VinylSd,BrkFace,20.0,TA,TA,PConc,TA,TA,No,GLQ,602.0,Unf,0.0,324.0,926.0,GasA,Ex,Y,SBrkr,926,678,0,1604,0.0,0.0,2,1,3,1,Gd,7,Typ,1,Gd,Attchd,1998.0,Fin,2.0,470.0,TA,TA,Y,360,36,0,0,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,Gtl,StoneBr,Norm,Norm,TwnhsE,1Story,8,5,1992,1992,Gable,CompShg,HdBoard,HdBoard,None,0.0,Gd,TA,PConc,Gd,TA,No,ALQ,263.0,Unf,0.0,1017.0,1280.0,GasA,Ex,Y,SBrkr,1280,0,0,1280,0.0,0.0,2,0,2,1,Gd,5,Typ,0,NaN,Attchd,1992.0,RFn,2.0,506.0,TA,TA,Y,0,82,0,0,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
dprices = pd.DataFrame.from_csv('data/sample_submission.csv', index_col=None)
dprices.head()

     Id  SalePrice
0  1461  169277.05
1  1462  187758.39
2  1463  183583.68
3  1464  179317.48
4  1465  150730.08

In [6]:
# Merge/combine the properties' descriptions and its sales prices into a new dataframe.
h_data = pd.merge(dtitles, dprices, on='Id')
h_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,CBlock,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,GasA,TA,Y,SBrkr,896,0,0,896,0.0,0.0,1,0,2,1,TA,5,Typ,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,Y,140,0,0,0,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,169277.05
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,CBlock,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,GasA,TA,Y,SBrkr,1329,0,0,1329,0.0,0.0,1,1,3,1,Gd,6,Typ,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,Y,393,36,0,0,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,187758.39
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,GasA,Gd,Y,SBrkr,928,701,0,1629,0.0,0.0,2,1,3,1,TA,6,Typ,1,TA,Attchd,1997.0,Fin,2.0,482.0,TA,TA,Y,212,34,0,0,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,183583.68
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,6,1998,1998,Gable,CompShg,VinylSd,VinylSd,BrkFace,20.0,TA,TA,PConc,TA,TA,No,GLQ,602.0,Unf,0.0,324.0,926.0,GasA,Ex,Y,SBrkr,926,678,0,1604,0.0,0.0,2,1,3,1,Gd,7,Typ,1,Gd,Attchd,1998.0,Fin,2.0,470.0,TA,TA,Y,360,36,0,0,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal,179317.48
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,Gtl,StoneBr,Norm,Norm,TwnhsE,1Story,8,5,1992,1992,Gable,CompShg,HdBoard,HdBoard,None,0.0,Gd,TA,PConc,Gd,TA,No,ALQ,263.0,Unf,0.0,1017.0,1280.0,GasA,Ex,Y,SBrkr,1280,0,0,1280,0.0,0.0,2,0,2,1,Gd,5,Typ,0,NaN,Attchd,1992.0,RFn,2.0,506.0,TA,TA,Y,0,82,0,0,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal,150730.08

In [7]:
# OUTLIERS, 0, NaN VALUES  (Check data analysis document) 
    
h_data =  h_data[['BedroomAbvGr', 'FullBath', 'LotArea', 
                'GrLivArea','YrSold', 'MoSold', 'SalePrice']]                          # Filter to needed columns.
#h_data.head()


#print(h_data.isnull().values.any())                                                  # Checking for any NaN value.



potential_outliers = h_data[(h_data.BedroomAbvGr == 0) | (h_data.FullBath == 0)       # Viewing potential outliers from previous
                     |(h_data.GrLivArea >= 5000)]                                     # -- graphs(Data Analysis)

potential_outliers

      BedroomAbvGr  FullBath  LotArea  GrLivArea  YrSold  MoSold  SalePrice
399              2         0     7040       1229    2009       6  161157.18
1053             0         0    20064       1743    2007       5  160927.61
1089             2         2    39290       5095    2007      10  230841.34
1140             0         0     6710        936    2007       6  135751.32

In [67]:
# STRUCTURING HOUSING DATA

hs_data = h_data[(h_data.YrSold >= 2006) & (h_data.YrSold <= 2009)&                             # Filtering non-needed values!
                (h_data.BedroomAbvGr != 0) & (h_data.FullBath != 0)
                & (h_data.GrLivArea <= 5000)]

                                                                                         
col = ['Bedrooms', 'Bathrooms','LotArea_SqFt', 'LivArea_SqFt', 'year', 'month', 'SalePrice']    # ranaming columns
hs_data.columns = col
#hs_data.head(3)



# Building dataframe to a series datetime index
hs_data.loc[:, 'day'] = 1

# adding column as one datetime.
date = pd.to_datetime(hs_data[['year', 'month', 'day']])
hs_data.loc[:, 'Date'] = date

# Subtracting only columns needed!
housing_data = hs_data[[ 'Date', 'Bedrooms', 'Bathrooms', 'LotArea_SqFt', 'LivArea_SqFt', 'SalePrice']]

#Formating 'Id' value to only year and month.
housing_data.loc[:, 'Date'] = housing_data.Date.dt.to_period('M')

# Seting, sorting and renaming index
housing_data = housing_data.set_index('Date').sort_index()

# # changing index to string object for later joining
housing_data.index = housing_data.index.map(str).rename('Year_Month')
housing_data.head()

            Bedrooms  Bathrooms  LotArea_SqFt  LivArea_SqFt  SalePrice
Year_Month
2006-01            4          2         13128          2064  196858.92
2006-01            3          1         13052          1024  183433.47
2006-01            3          2         14330          2646  185948.63
2006-01            2          1          5220           879  154743.92
2006-01            3          2         12447          1964  182242.81

In [68]:
# STRUCTING WEATHER DATA

weather_d = pd.DataFrame.from_csv('WeatherData/weather.csv', index_col=None)            # open weather data file
#weather_d.head()

weather_d1 = weather_d[weather_d.STATION_NAME == 'AMES 8 WSW IA US']                    # Sorting to data needed
weather_d2 = weather_d1[(weather_d1.DATE >= 20060101) & (weather_d1.DATE <= 20091231)]
weather_d3 = weather_d2[['DATE', 'PRCP', 'SNOW', 'TMAX', 'TMIN']]



weather_d3.loc[:, 'Date'] = pd.to_datetime(weather_d3.DATE, format='%Y%m%d')            # Getting date to datetime,
weather_d4 = weather_d3[['Date', 'PRCP', 'SNOW', 'TMAX', 'TMIN']]                       # setting and sortinging index to ('Date')



weather_d4['Date'] =weather_d4.Date.dt.to_period('M')                                   # Building and setting index to year
weather_data = weather_d4.set_index('Date').sort_index()                                # -- and month. 


weather_data[weather_data == -9999] = np.nan                                    # Changed corrupted values to Not a Number(NaN)
#weather_data.head()


col = ['Avg_Prcp', 'Avg_Snow', 'Avg_Tmax', 'Avg_Tmin']                          # Changed names for columns
weather_data.columns = col


wth_data_avg = weather_data.groupby(weather_data.index).mean()                 # Getting weather averages


wth_data_avg.index = wth_data_avg.index.map(str).rename('Year_Month')          # Change index type to string object
                                                                               # -- for later merging of dataframes
#wth_data_avg.head(10)

In [69]:
# MERGING HOUSING AND WEATHER DATA

hs_wth_data = housing_data.join(wth_data_avg)
hs_wth_data.head(30)

,Bedrooms,Bathrooms,LotArea_SqFt,LivArea_SqFt,SalePrice,Avg_Prcp,Avg_Snow,Avg_Tmax,Avg_Tmin
Year_Month,,,,,,,,,
2006-01,4,2,13128,2064,196858.92,0.02,0.06,41.42,25.84
2006-01,3,1,13052,1024,183433.47,0.02,0.06,41.42,25.84
2006-01,3,2,14330,2646,185948.63,0.02,0.06,41.42,25.84
2006-01,2,1,5220,879,154743.92,0.02,0.06,41.42,25.84
2006-01,3,2,12447,1964,182242.81,0.02,0.06,41.42,25.84
2006-01,3,1,7733,1142,172965.48,0.02,0.06,41.42,25.84
2006-01,2,1,12778,1008,169618.35,0.02,0.06,41.42,25.84
2006-01,4,3,15922,2795,202357.62,0.02,0.06,41.42,25.84
2006-02,2,1,12400,1717,169979.32,0.02,0.07,40.61,14.46
2006-02,4,2,8170,1671,188206.28,0.02,0.07,40.61,14.46
2006-02,3,1,10000,1370,178531.91,0.02,0.07,40.61,14.46
2006-02,3,1,6120,1324,170895.92,0.02,0.07,40.61,14.46
2006-02,1,1,8088,498,148217.26,0.02,0.07,40.61,14.46
2006-02,3,1,7000,864,172627.80,0.02,0.07,40.61,14.46
2006-02,4,1,10818,1760,193417.65,0.02,0.07,40.61,14.46
2006-02,2,2,5748,1778,156887.93,0.02,0.07,40.61,14.46
2006-02,2,2,7488,1208,160312.32,0.02,0.07,40.61,14.46
2006-02,3,2,11060,2314,180618.03,0.02,0.07,40.61,14.46
2006-02,3,2,8125,1716,174841.84,0.02,0.07,40.61,14.46
2006-02,3,2,13215,1914,184859.16,0.02,0.07,40.61,14.46
2006-02,3,2,10237,1456,178998.34,0.02,0.07,40.61,14.46
2006-02,3,2,13041,1671,184516.72,0.02,0.07,40.61,14.46
2006-02,3,2,9660,1976,177862.78,0.02,0.07,40.61,14.46
2006-03,3,3,16023,2798,191490.30,0.09,0.24,47.26,27.90
2006-03,3,2,9316,1614,178290.67,0.09,0.24,47.26,27.90
2006-03,2,1,7614,1376,161665.18,0.09,0.24,47.26,27.90
2006-03,3,1,10519,1057,180658.22,0.09,0.24,47.26,27.90
2006-03,3,1,7000,1025,173732.69,0.09,0.24,47.26,27.90
2006-03,1,1,7008,720,147196.67,0.09,0.24,47.26,27.90
2006-03,3,2,8400,1611,176487.94,0.09,0.24,47.26,27.90