# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

<div class="span5 alert alert-info">
### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
</div>
****

In [38]:
import pandas as pd
import numpy as np
from scipy import stats
import math
pd.set_option('display.max_columns', 500)

In [13]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [14]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [15]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,occupbroad,workinschool,email,computerskills,specialskills,firstname,sex,race,h,l,call,city,kind,adid,fracblack,fracwhite,lmedhhinc,fracdropout,fraccolp,linc,col,expminreq,schoolreq,eoe,parent_sales,parent_emp,branch_sales,branch_emp,fed,fracblack_empzip,fracwhite_empzip,lmedhhinc_empzip,fracdropout_empzip,fraccolp_empzip,linc_empzip,manager,supervisor,secretary,offsupport,salesrep,retailsales,req,expreq,comreq,educreq,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,1,0,0,1,0,Allison,f,w,0.0,1.0,0.0,c,a,384.0,0.989360,0.005500,9.527484,0.274151,0.037662,8.706325,1.0,5,,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,6,1,1,1,0,Kristen,f,w,1.0,0.0,0.0,c,a,384.0,0.080736,0.888374,10.408828,0.233687,0.087285,9.532859,0.0,5,,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,1,1,0,1,0,Lakisha,f,b,0.0,1.0,0.0,c,a,384.0,0.104301,0.837370,10.466754,0.101335,0.591695,10.540329,1.0,5,,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,5,0,1,1,1,Latonya,f,b,1.0,0.0,0.0,c,a,384.0,0.336165,0.637370,10.431908,0.108848,0.406576,10.412141,0.0,5,,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,5,1,1,1,0,Carrie,f,w,1.0,0.0,0.0,c,a,385.0,0.397595,0.180196,9.876219,0.312873,0.030847,8.728264,0.0,some,,1.0,9.4,143.0,9.4,143.0,0.0,0.204764,0.727046,10.619399,0.070493,0.369903,10.007352,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [18]:
len(data)

4870

### 1. What test is appropriate for this problem? Does CLT apply?

- We will be comparing the mean of two samples
- The average call back rate number between white sounding names and black sounding names.
- We don't know the population standard deviation, since we only have a sample, however the sample size is greater than 30.

With this information we can use a **two-sample t-test**

We have a a sample size n>30, and the Central Litim Theorem applies

### 2. What are the null and alternate hypotheses?

**Null**: The average call back rate between white and black sounding names **is the same**

**Alternative**: The average call back rate between white and black sounding names **is not the same**

### 3. Compute margin of error, confidence interval, and p-value.

In [21]:
white_data = data[data.race == 'w']
#white_data.head()
len(white_data)

2435

In [22]:
black_data = data[data.race == 'b']
len(black_data)

2435

In [29]:
white_calls = white_data.call
white_calls.mean()

black_calls = black_data.call
black_calls.mean()

print('white_mean:', white_calls.mean(),'black_mean:', black_calls.mean())

white_mean: 0.09650924056768417 black_mean: 0.0644763857126236

difference in means:

In [27]:
mean_diff = white_calls.mean() - black_calls.mean()
mean_diff

0.03203285485506058

**Margin of Error** = t- critical point * Standard Error

Standard Error:

In [39]:
standr_error = math.sqrt((white_calls.std()**2/2435) + (black_calls.std()**2/2435))
standr_error

0.007784906919813793

degrees of freedom to find t-critical point:

In [43]:
variance = (white_calls.std()**2/2435) + (black_calls.std()**2/2435)
variance

6.0604775750164685e-05

In [44]:
dgr_frdm = variance**2/((white_calls.std()**2/2435)**2/(2435-1) + (white_calls.std()**2/2435)**2/(2435-1))
dgr_frdm

3483.21823727002

**Marging of Error:**

In [45]:
1.960 * standr_error

0.015258417562835034

**Confidence Interval:**

Any difference in our sample mean more or less than our confidence interval  of +- 0.01526 will makes us reject the null hypothesis. In this case, we have a difference value of 0.032, which is over the confidence interval.

We reject the Null Hypothesis, and go for the alternative, which states that the average call back rate between black and white sounding names are not the same.

We have a 95% significant range of confidence that the average calls between black and white are  not be the same, and 5% probability that they will be the same.

**P-value**

In [48]:
stats.ttest_ind(white_calls, black_calls)

Ttest_indResult(statistic=4.1147052908617514, pvalue=3.9408021031288859e-05)