In [70]:
import pandas as pd

## imports for Python, Pandas

In [71]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [77]:
# 1. Find the 10 countries with most projects

In [114]:
w = pd.read_json('data/world_bank_projects.json')      #1. Reading JSON File
w = w.countryshortname                                 #2. Building table with colum name 'countryshortname'
w = w.value_counts()                                   #3. Sourcing countries' with most projects frequency.
w.head(10)                                             #4. Narrowing projects to the first 10.

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Nepal                 12
Bangladesh            12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [81]:
# 2. Find the top 10 major project themes 
#    (using column 'mjtheme_namecode')

In [111]:
j = json.load((open('data/world_bank_projects.json')))   #1. Loading JSON files as strings
j = json_normalize(j, 'mjtheme_namecode')                #2. semi-structuring JSON data into a flat table    
df = pd.DataFrame(j)                                     #3. Building JSON files into DataFrame
df.head(4)

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management

In [112]:
d = df                                                   #4. Sourcing 10 major projects through colum 'mjtheme_namecode'
d = d.name.value_counts()
d.head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [86]:
#3 .In 2. above you will notice that some entries have only the 
#  code and the name is missing. Create a dataframe with the
#  missing names filled in.

In [108]:
w = json.load((open('data/world_bank_projects.json')))    #1. Loading JSON files as strings
w = json_normalize(w,'mjtheme_namecode')                  #2. semi-structuring JSON data into a flat table 
df = pd.DataFrame(w)                                      #3. Building JSON files into DataFrame


df.replace('', np.nan)                                    #4. Missing values for colum('name') filled in with ('NaN')

     code                                          name
0       8                             Human development
1      11                                           NaN
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6                                           NaN
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8                                           NaN
18     10                             Rural development
19      7                                           NaN
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2                                           NaN
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4                                           NaN
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11                                           NaN
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5                                           NaN
1482    6         Social protection and risk management
1483    8                                           NaN
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6                                           NaN
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]